@import './base.css';

:root {
  --orange: #eb8104;
  --blue: #268fb1;
  --green-blue: rgb(183, 234, 232);
  --grey: rgb(183, 182, 182);
  --dark-grey: rgb(110, 109, 109);
  --very-dark-grey: rgb(83, 82, 82);

  /* ---color-chart--- */
  --red-chart: #f73f52;
  --orange-chart: #ff9000;
  --yellow-chart: #fbd400;
  --green-chart: #9ed763;
  --blue-chart: #6730ec;
  --purple-chart: #815a8f;
  --white-chart: #ffffff;
  --rebeccapurple-chart: #663399;

  /* ---loader--- */
  --main-color: white;
  /* --point-color: #555; */
  --size: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

main {
  margin-top: 150px;
  min-height: 100vh;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: 'Rock Salt', serif;
  font-size: 34px;
  line-height: 22px;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

h2 {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif; */
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 1px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: var(--very-dark-grey);
}

h3 {
  text-align: center;
  color: var(--grey);
  padding-bottom: 50px;
}
h4 {
  font-size: 18px;
  font-family: 'Rock Salt', serif;
  margin-bottom: 20px;
  color: var(--very-dark-grey);
}

h5 {
  font-size: 14px;
  font-family: 'Rock Salt', serif;
  padding: 20px;
}
img {
  display: block;
}

a {
  cursor: pointer;
}

a:hover,
.a:hover {
  scale: 120%;
  text-decoration: none;
}
